<% if @plantilla.nil? %>
    <strong><p>No hay herramienta seleccionada</p></strong> 
<% elsif  @plantilla.count==0  %>
    <strong><p>No hay plantilla de la herramienta seleccionada</p></strong> 
<% else %>
<%# @plantilla[0].conexion_bd.nombre_herramienta %>
   
<% end %>