<div class="container">
    <h3>Editar entrada de la Plantilla <%= Plantilla.find(params[:id]).herramientum.nombre_sistema %></h3>
    <div class="mb-3">
        <%= link_to 'ver', @plantilla, class: :"btn btn-sm btn-outline-dark" %> |    
        <%= link_to 'regresar', plantillas_path,class: :"btn btn-sm btn-outline-dark" %>
    </div>
    <% @edit=true%>
    <%= render 'form', plantilla: @plantilla %>
</div>