<div class="container">
    <div class="table-responsive">
        <table class="table table-dark table-sm"> 
            <thead>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Rol</th>
            </thead> 
            <tbody>
                <% @users.each do |u| %>
                    <tr>
                        <td ><%= link_to u.username, user_path(u.id) ,class: :"btn btn-sm btn-light",title: :"Ver Usuario"%></td>
                        <td><%= u.email %></td>
                        <td> 
                            <% if u.nil? %>
                                Sin rol especifico
                            <% else %>
                                <%= u.rol.nombre %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>