<div class="container">
    <div class="mb-3">
        <h3>Eidtar la Conexion a la Base de Datos</h3>
        <%= link_to 'Ver', @conexion_bd, class: :"btn btn-sm btn-outline-dark" %> |
        <%= link_to 'Regresar', conexion_bds_path , class: :"btn btn-sm btn-outline-dark" %>
    </div>
    <%= render 'form', conexion_bd: @conexion_bd %>
</div>
