<div class="container">
    <div class="mb-3">
        <h3>Nueva Conexion de Bases de Datos</h3>
        <%= link_to 'Regresar', conexion_bds_path ,class: :"btn btn-sm btn-outline-dark"%>
    </div>
    <%= render 'form', conexion_bd: @conexion_bd %>
</div>