<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @subdireccion.nombre %>
</p>

<%= link_to 'Edit', edit_subdireccion_path(@subdireccion) %> |
<%= link_to 'Back', subdireccions_path %>
