<div class="container">
    <div class="col">
        <h3>Editando el Rol</h3>
    </div>
    <div class="col">
        <%= link_to 'ver', @rol,class: :"btn btn-sm btn-outline-dark" %> |
        <%= link_to 'regresar', rols_path,class: :"btn btn-sm btn-outline-dark" %>
    </div>
    <%= render 'form', rol: @rol %>
</div>