<div class="container">
  <div class="mb-3">
    <h3>Nueva entrada</h3>
    <%= link_to 'regresar', personals_path, class: :"btn btn-sm btn-outline-dark" %>
  </div>
  <%= render 'form', personal: @personal %>
</div>
