<div class="container">
  <div class="mb-3">
    <h3>Editando entrada de Informe</h3>
    <%= link_to 'Ver', @informe_ctrl_docum,class: :"btn btn-sm btn-outline-dark" %> |
    <%= link_to 'Regresar', informe_ctrl_docums_path,class: :"btn btn-sm btn-outline-dark" %>
  </div>
  <%= render 'form', informe_ctrl_docum: @informe_ctrl_docum %>
</div>
