<h1>Editing Relacion Herramientum</h1>

<%= render 'form', relacion_herramientum: @relacion_herramientum %>

<%= link_to 'Show', @relacion_herramientum %> |
<%= link_to 'Back', relacion_herramienta_path %>
