<script>
    $(document).ready(function(){        
        $(".perfiles").empty();
    });
</script>
<div class="container">
    <div class="mb-3">
        <h3>Nuevo Perfil</h3>
        <%= link_to 'Regresar', perfils_path, class: :"btn btn-sm btn-outline-dark" %>
    </div>
    <%= render 'form', perfil: @perfil %>
</div>
<%= javascript_pack_tag 'perfils',media: 'all', 'data-turbolinks-track': 'reload' %>