<script>
import $ from 'jquery'
$(document).on('turbolinks:load', function() {
alert("Adasdasd");
    $('.select_user').select2({
        placeholder: "Seleccione una herramienta",
        allowClear: true,
        clear: true,
        remove: true
    });

})
</script>
<% if !@arreglo.nil? %>
    <select id="select_arr" name="usuario" class="select_user form-control" >
        <% @arreglo.each do |a| %>
            <option value="<%= a["id_usuario"] %>">Id: <%= a["id_usuario"] %> - Login: <%= a["login"] %></option>            
        <% end %>
    </select>
<% else %>

<% end %>
<%= javascript_pack_tag "informe_generals.js" %>