<div class="container">
<% if can? :create, InformeGeneral%>    
    <div class="mb-3">
        <h4>Nuevo Informe General</h4>        
        <%= link_to 'Regresar', informe_generals_path,class: :"btn btn-sm btn-outline-dark" %>
    </div>
    <%= render 'form', informe_general: @informe_general %>
<% else %>
    <h5>No tienes el rol para crear Informes</h5>
<% end %>
</div>