<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @informe_general.nombre %>
</p>

<%= link_to 'Edit', edit_informe_general_path(@informe_general) %> |
<%= link_to 'Back', informe_generals_path %>
